/*Header*/
.header{
    background-image: url("assets/Group\ 10.svg");
    background-repeat: no-repeat;
    background-position: 60% 100%;
    width: 100vw;
    height: auto;
    padding-bottom: 4rem;
    margin-bottom: 0.7rem;
}
.navbar {
    margin-bottom: 2rem;
}
.nav-item {
    margin-right: 1rem;
    margin-left: 1rem;
}
.nav-link {
    font-family: Montserrat;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    width: fit-content;
}
.collapse {
    display: flex;
    justify-content: flex-end;
}
.navbar-brand img {
    width: 191.5px;
    height: 62.8px;
    object-fit: contain;
}
.header-text p:first-child {
    font-family: Montserrat;
    font-size: 40px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.5;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}
.header-text p:nth-child(2) {
    font-family: Montserrat;
    font-size: 104px;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}

.header-img img {
    width: auto;
    height: auto;
    object-fit: contain;
}

/*Layer 1*/
.layer1-img {
    display: flex;
    align-self: flex-end;
}
.layer1-img img {
    width: 896.7px;
    height: 608px;
    object-fit: contain;
}
.layer1-text p:nth-child(1){
    font-family: Montserrat;
    font-size: 40px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.5;
    letter-spacing: normal;
    text-align: left;
    color: #ef5181;
}
.layer1-text p:nth-child(2){
    font-family: Montserrat;
    font-size: 60px;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.3;
    letter-spacing: normal;
    text-align: left;
    color: #28123e;
}
.layer1-text p:nth-child(3){
    font-family: Montserrat;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.5;
    letter-spacing: normal;
    text-align: left;
    color: #131313;
}
.path1{
    margin: 0 0 2rem -40px;
    padding: 0;
}

/*Layer 2*/
.layer2 {
    margin-bottom: 1.5rem;
}
.layer2-details {
    display: flex;
    flex-direction: column;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
.layer2-details img {
    margin: auto auto;
    margin-bottom: 1.5rem;
}
.layer2-details p:first-of-type{
    font-family: Montserrat;
    font-size: 35px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: center;
    color: #131313;
    word-wrap: none;
}
.layer2-details p:last-of-type{
    font-family: Montserrat;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.81;
    letter-spacing: normal;
    text-align: center;
    color: #131313;
}

/*Layer 3*/
.layer3{
    /*background-image: url("assets/Path\ 315.svg");
    background-repeat: no-repeat;
    background-position: 100% 10%;
    background-size: 50%;*/
}
/*Path */
#path{
    position: relative;
    overflow: hidden;
    height: auto;
}
#path:before{
    content: "";
    position: absolute;
    top: -10%;
    right: -20%;
    width: 60%;
    height: 500%;
    z-index: -1;
    background-image: url("assets/Path\ 315.svg");
    background-repeat: no-repeat;
    
}
#path > p:nth-child(1){
    font-family: Montserrat;
    font-size: 40px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: normal;
    text-align: center;
    color: #ef5181;
}
#path > p:nth-child(2){
    font-family: Montserrat;
    font-size: 60px;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.3;
    letter-spacing: normal;
    text-align: center;
    color: #28123e;
}
#path > p:nth-child(3){
    font-family: Montserrat;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: normal;
    text-align: center;
    color: #28123e;
    margin-bottom: 1.5rem;
}
/*Layer 3*/
.layer3 {
    margin-bottom: 5rem;
}
.layer3-select {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    width: 80%;
    margin: auto auto;
}
.layer3-select p {
    font-family: Montserrat;
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 3.9;
    letter-spacing: normal;
    text-align: left;
    color: #28123e;
}
.layer3-select > p:nth-child(1){
    color: #ef5181;
    border-bottom: 2px solid #ef5181;
}
.layer3-img {
    padding-left: 1rem;
    padding-right: 1rem;
}
.layer3-img > .row > .col img {
    padding: 0rem 2rem 2rem 2rem;
}
.path2 {
    background-image: url("assets/Path\ 314.svg");

}
.layer3 > .layer3-button {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
}
.layer3 > .layer3-button button{
    background-color: #28123e;
    color: white;
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem 2rem;
}
.layer3 > .layer3-button::after {
    background-image: url("assets/Path\ 314.svg");
    content: "";
    position: absolute;
    top: -70px;
    left: -30px;
    width: 500%;
    height: 500%;
    z-index: -1;
    background-repeat: no-repeat;
}

/*Layer 4 */
.layer4 {
    background-image: url("assets/Path\ 335.svg");
    background-repeat: no-repeat;
    background-position: 60% 80%;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 9rem;
}
.layer4-details > p:nth-child(1) {
    font-family: Montserrat;
    font-size: 40px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.5;
    letter-spacing: normal;
    text-align: center;
    color: #ef5181;
}
.layer4-details > p:nth-child(2) {
    font-family: Montserrat;
    font-size: 60px;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.3;
    letter-spacing: normal;
    text-align: center;
    color: #28123e;
}
.layer4-details > p:nth-child(3) {
    font-family: Montserrat;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 3.9;
    letter-spacing: normal;
    text-align: center;
    color: #28123e;
}
.layer4-details img {
    width: 388px;
    height: 550px;
}
.layer4-img{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.layer4-img > p:nth-child(2) {
    font-family: Montserrat;
    font-size: 40px;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.95;
    letter-spacing: normal;
    text-align: center;
    color: #ef5181;
}
.layer4-img > p:nth-child(3){
    font-family: Montserrat;
    font-size: 30px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.6;
    letter-spacing: normal;
    text-align: center;
    color: #28123e;  
}
.layer4-details > .row > .layer4-img:nth-child(2){
    top: 70px;
}
.layer4-details > .row > .layer4-img:nth-child(3){
    top: 140px;
}

/*Layer 5*/
.layer5{
    background-color: #f9f9f9;
    margin-bottom: 5rem;
}
.layer5-text{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.head-pink {
    font-family: Montserrat;
    font-size: 40px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.5;
    letter-spacing: normal;
    text-align: center;
    color: #ef5181;
}
.head-blue {
    font-family: Montserrat;
    font-size: 60px;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.3;
    letter-spacing: normal;
    text-align: center;
    color: #28123e;
}
.head-small-blue{
    font-family: Montserrat;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 3.9;
    letter-spacing: normal;
    color: #28123e;
    text-align: center;
}
.layer5-brands {
    display: flex;
    flex-direction: row;
}
.layer5-brands > .col > img {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

/*Layer 6*/
.layer6 {
    margin-bottom: 3rem;
}
.layer6-text{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.slider{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
}
.slider > p {
    text-align: center;
}
.slider img {
    border-radius: 50%;
    border: 3px solid  #ef5181;
}
.arrows {
    position: relative;
    top: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 75vw;
}

/*Layer 7*/
.layer7{
    margin-bottom: 1rem;
}
.layer7-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#bg-img {
    position: relative;
    overflow: hidden;
}
#bg-img::after {
    z-index: -1;
    background-image: url("assets/Path\ 337.svg");
    background-position: 0 20%;
    background-size: 70%;
    background-repeat: no-repeat;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: -150px;
    top: -70px;
}
.layer7-card {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 2.5rem;
    border-radius: 80px;
    box-shadow: 0 16px 50px 0 rgba(125, 199, 221, 0.22);
}

.layer7-details-head {
    font-family: Montserrat;
    font-size: 38px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.24;
    letter-spacing: normal;
    color: #000000;
}
.layer7-details-text {
    font-family: Montserrat;
    font-size: 26px;
    font-weight: 200;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.23;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
}
#layer7-img-one {
    width: 147.4px;
    height: 127.7px;
}
.layer7-card button {
    border: none;
    width: fit-content;
    padding: 0.7rem 1.4rem;
    border-radius: 30px;
    box-shadow: 0 5px 17px 0 rgba(201, 33, 140, 0.43);
    background-image: linear-gradient(to bottom, #f36690, #e248a4);
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff; 
}
.layer7-details-amount{
    font-family: Montserrat;
    font-size: 100px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.23;
    letter-spacing: normal;
    text-align: left;
    color: #f3658e;
}
.layer7-details-mo {
    font-family: Montserrat;
    font-size: 35px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.23;
    letter-spacing: normal;
    text-align: left;
    color: #f3658e;
}

/*Layer 8*/
.layer8{
    background-color: #262626;
    padding: 2rem 10rem;
    margin-bottom: 5rem;
}
.layer8-button {
    display: flex;
    align-items: center;
    justify-content: center;
}
.layer8 button {
    border-radius: 9px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.45);
    background-color: #f25579;
    padding: 1rem 2rem;
    font-family: Montserrat;
    font-size: 17px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.12;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    border: none;
    align-self: center;
}
.layer8-text > p:first-of-type{
    font-family: Montserrat;
    font-size: 50px;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.56;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}
.layer8-text > p:last-of-type{
    font-family: Montserrat;
    font-size: 25px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.28;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}

/*Footer*/
.footer{
    padding: 3rem 10rem;
}

.title {
    font-family: Montserrat;
    font-size: 50px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.22;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
}
.text {
    font-family: Montserrat;
    font-size: 25px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #929292;
}
.footer-details > div:nth-child(3){
    display: flex;
    flex-direction: column;
}
.footer-details > div:nth-child(3) > a{
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
}
@media screen and (max-width: 800px){
    .collapse {
        justify-content: flex-start;
    }
    .nav-item {
        width: 100vw;
        border-bottom: 1px solid white;
    }
    .header-text {
        padding-bottom: 2.5rem;
    }
    .header-text p:nth-child(2) {
        font-size: 40px;
    }
    .header-img img {
        width: auto;
        height: auto;
        object-fit: contain;
    }
    .layer3-img > .row > .col {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .layer3-select p {
        font-size: 13px;
        margin-left: 0.2rem;
        margin-right: 0.2rem;
    }
    .layer5-brands {
        display: flex;
        flex-direction: column;
    }
    .layer7-cards > div {
        margin-bottom: 1.5rem;
    }
    .layer8{
        padding: 2rem 2.5rem;
    }
    .footer{
        padding: 2rem;
    }
    .footer-details > div {
        margin-bottom: 1rem;
    }
}